{% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="row mt-4">
        <h1 class="fw-bold">Select the desired character set</h1>
        <form class="form-inline" method="post" action="">
            <select name="char_set" id="char_set" style="width: auto;" onchange="this.form.submit()">
                <option>Please Select to Change...</option>
                <option>["#", "?", "%", ".", "S", "+", ".", "*", ":", ",", "@"]</option>
                <option>[" ", ".", "°", "*", "o", "O", "#", "@"]</option>
            </select>
        </form>
    </div>
</div>


<div class="container">
    <div class="row mt-4">
        <h1 class="text-center fw-bold">Here is your ASCII art! A masterpiece, is it not?</h1>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <pre class="text-center" style="border: 2px solid black; border-radius: 20px;"><p style="font-family:courier;">{{ ascii }}</p></pre>
        </div>
    </div>
</div>

{% endblock %}