{% extends 'base.html' %} {% block body %}
  <h1 class="text-center">Recent Pictures</h1>

  <body>
    <style>
    .button-remove-gallery{
      background-color: #dd3e0e;
      color: white;
      font-weight: 500;
      border: none;
      width: 80px;
      height: 40px;
      padding: 10px;
      border-radius: 10px;
      vertical-align: bottom;
      display: block;
    }
    .button-remove-gallery:hover{
      background-color: #c43a10;
      color: white;
      font-weight: 500;
      border: none;
      width: 80px;
      height: 40px;
      padding: 10px;
      border-radius: 10px;
      vertical-align: bottom;
      display: block;
    }
    .button-convert-gallery{
      background-color: #198754;
      color: white;
      font-weight: 500;
      border: none;
      width: 80px;
      height: 40px;
      padding: 10px;
      border-radius: 10px;
      vertical-align: bottom;
      display: block;
    }
    .button-convert-gallery:hover{
      background-color: #146c43;
      color: white;
      font-weight: 500;
      border: none;
      width: 80px;
      height: 40px;
      padding: 10px;
      border-radius: 10px;
      vertical-align: bottom;
      display: block;
    }
    .body{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    </style>
    <form action="/gallery" method="post" enctype="multipart/form-data"></form>
    <div class="body">
      {% for i in imagelist %}
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="{{ url_for('static', filename=i)}}" alt="{{i.split('/')[-1]}}" height="240px"
          width="300px">
          <div class="card-body">
            <h5 class="card-title">{{i.split('/')[-1]}}</h5>
            <div class="d-flex">
              <form method="post">
                <input class="button-remove-gallery" type="submit" value="Remove" name="{{i}}"/>
              </form>
              <input class="button-convert-gallery ms-2" type="submit" value="Convert" id="{{i.split('/')[-1]}}" onclick="javascript:window.location.href='{{i}}'"/>
            </div>
          </div>
        </div>
        <!-- <div>
        <img
          src="{{ url_for('static', filename=i)}}"
          height="240px"
          width="300px"
        /><br>
        {{i.split('/')[-1]}}
        </div>
        <div>
          <form method="post">
            <input class="button-remove-gallery" type="submit" value="Remove" name="{{i}}"/>
          </form>
          <input class="button-convert-gallery" type="submit" value="Convert" id="{{i.split('/')[-1]}}" onclick="javascript:window.location.href='{{i}}'"/>
        </div> -->
      {% endfor %}
    </div>
  </form>
  </body>
</html>
{%endblock%}