<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/home.css">
    
</head>

<body>
    <div class="main-container">
        <div class="navigation">
            <ul>
                <li class="active"><a href="/">Image</a></li>
                <li><a href="/gallery/main">Gallery</a></li>
            </ul>
        </div>

        <div class="container">
            <h1 class="heading">ZTM ASCII Art Generator</h1>

            <div class="file-upload-container" id="dropZone">
                <div class="upload-icon">
                    <img src="../static/IMG/upload.png" alt="">
                </div>

                <div class="upload-text">Drag files to upload</div>
                <div class="or-text">or</div>
                <button id="uploadBtn" class="upload-button">Browse Files</button>

                <div class="file-info">Supported file types: <span>JPG, PNG</span></div>
            </div>

            <button class="generate-button">Generate!</button>

        </div>
    </div>

    <form action="/" method="post" enctype="multipart/form-data" style="display: none;" id="uploadForm">
        <input 
            type="file" 
            id="formFile" 
            name="file" 
            accept="image/png, image/jpg, image/jpeg" 
            required
        >
    </form>

<script src="/static/upload.js"></script>
</body>

</html>