{% extends 'base-v2.html' %}

{% block content %}
<link rel="stylesheet" href="/static/text-art.css">
<div class="container">
    <h1 class="heading">Let's do some magic with text!</h1>
    <div class="settings">
        <form id="settingsForm">
            <div class="field">
                <input type="text" name="text" id="text" class="input" placeholder="Start writing to see the magic...">
                <input type="color" name="background-color" id="background-color" value="#000000">
                <div id="color-picker">
                    <div class="wrapper-dropdown">
                        <span>
                            <span id="color-preview">
                                <span style="background: #FFFFFF"></span>
                            </span>
                            <span id="color-preview-name">White</span>
                        </span>

                        <ul class="dropdown" style="display: none;" id="color-picker-dropdown">

                        </ul>
                    </div>

                    <input type="hidden" value="#FFFFFF" name="color">
                </div>
                <select name="font" id="font" class="font-selector">
                    {% for font in fonts %}
                    <option value="{{ font }}">{{ font.capitalize() }}</option>
                    {% endfor %}

                </select>
            </div>

        </form>
    </div>
    <pre class="ascii-art text-art" id="text-art">{{text_art}}</pre>
    <button id="exportButton"><img src="https://img.icons8.com/material-rounded/24/228BE6/download--v1.png"/>

    </button>

</div>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="/static/text-art.js"></script>
{% endblock %}