{% extends 'base-v2.html' %}

{% block content %}
<style>


</style>
<div class="container">
    <h1 class="heading">Let's do some magic with text!</h1>
    <div class="settings">
        <form id="settingsForm">
            <div class="field">
                <input type="text" name="text" id="text" class="input" placeholder="Start writing to see the magic...">
                <select name="font" id="font" class="font-selector">
                    <!-- do a jinja for loop -->
                    {% for font in fonts %}
                    <option value="{{ font }}">{{ font.capitalize() }}</option>
                    {% endfor %}

                </select>
            </div>
        
        </form>
    </div>
    <pre class="ascii-art text-art">{{text_art}}</pre>

</div>


{% endblock %}