{% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="row mt-4">
        <h1 class="text-center fw-bold">Welcome to the ZTM ASCII Art Generator Web App!</h1>
    </div>
</div>

<!-- if filename is empty, this html content will be executed to tell the client about the error -->
{% if file_error %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center text-danger fw-bold">{{ file_error }}</p>
            </div>
        </div>
    </div>
{% endif %}

<!-- if some error occurred to delete the file, this html content will be executed to tell the client about the error -->
{% if error %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center text-danger fw-bold">{{ error }}</p>
            </div>
        </div>
    </div>
{% endif %}

<div class="container">
    <div class="row">
        <form action="/" method="post" enctype="multipart/form-data"
            style="width: 100%; border: 2px solid black; border-radius: 10px; padding: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="mb-3">
                            <label for="formFile" class="form-label fw-bold">Upload the image file. <small
                                    class="text-danger fw-bolder">* Only
                                    acceptable jpg, jpeg and png files</small></label>
                            <input class="form-control" type="file" id="formFile" name="file"
                                accept="image/png, image/jpg, image/jpeg" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- <input type="file" name="file" /> -->
                    <div class="col-md-4  offset-md-4 text-center">
                        <input type="submit" value="Upload" type="button" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}