#darkmode-switch {
    position: absolute;
    right: 0;
    top: 50%;
    color: white;
    cursor: pointer;
}

body.lightmode {
    background-color: #ededed;
}

body.darkmode {
    background-color: #404040;
}

.lightmode label,
.lightmode pre,
.lightmode h1 {
    color: rgb(26, 26, 26);
}

.darkmode label,
.darkmode pre,
.darkmode h1 {
    color: #ffffff;
}

.lightmode .nv-btn {
    background-color: lightgrey;
    color: #696969;
}

.darkmode .nv-btn {
    background-color: rgb(255, 255, 255);
}

.darkmode form,
.darkmode .card-body,
.darkmode .card,
.darkmode nav {
    background-color: #282828;
}

.lightmode nav {
    background-color: #696969;
}

.darkmode .nv-btn:hover {
    background-color: #282828;
    color: #ffffff;
}
